body{
    margin:0;
    background-image: url("images/background.jpg");
    background-repeat: no-repeat;
    background-size: cover;
}

.container{
    background-color: white;
    min-height: 100vh;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
}

.task-area{
    border: 1px solid lightgray;
    margin-top: 2em;
}

.task-tabs{
    display:flex;
    border: 1px solid lightgray;
    border-bottom: 1px solid lightgray;
    position: relative;
}

.task-tabs div{
    padding: 1em;
}

#underline{
    height: 4px;
    background-color: pink;
    position: absolute;
    width:50px;
    left:0px;
    top:52px;
    padding:0px;
}

.task{
    display:flex;
    justify-content: space-between;
    border-bottom: 1px solid lightgray;
}

.task:nth-child(2) button{
    background-color: white;
    border : 0;
} 

.task-done{
    text-decoration: line-through;
    background-color: lightgray;
}

.task span{
    padding: 1em;
}

.check-icon{
    color : limegreen;
}

.trash-icon{
    color : red;
}

.rotate-icon{
    color : gray;
}

.task-button-box{
    display:flex;
}

.task-button-box button{
    height: 100%;
  border: none;
  width: 5em;
  margin: 0;
  background-color: white;
  transition: 0.5s;
}

.task-tabs div{
    cursor: pointer;
}
}